<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pola.app">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.DirectionActivity" />
        <activity android:name=".activities.VerifyOTPActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LandingPageActivity" />
        <activity android:name=".activities.CarSetupActivity" />
        <activity android:name=".activities.TripDetailsActivity" />
        <activity android:name=".activities.TripSummaryActivity" />
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.TripsSearchActivity" />
        <activity android:name=".activities.HomePageActivity" />
        <activity android:name=".activities.MyTripActivity" />
        <activity android:name=".activities.TripRequestsActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.PermissionActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ7kN27Jmap8-XUDvNKvsNgi76uKFnBkE" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
